#cursor {
	width: 0.75em;
	height: 0.75em;
	border-radius: 50%;
	background-color: black;
	position: fixed;
	vertical-align: middle;
	text-align: center;
	padding: 1em 0.5em 1em 0.5em;
	
}

.butts{
	
	border-radius: 50%;
	position: fixed;
	justify-content: center;
	padding: 1em 0.5em 1em 0.5em;
	margin: 0.5em;
}

